.sidebar, .mobile{
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--gray-100);
    overflow-x: hidden;
    padding-top: 35px;


    &-list{
        padding-left: 0;
        list-style: none;    
        margin-top:0px;
        margin-bottom: 0px;
        :hover{
            cursor: pointer;
            background-color: white;

        }
    }

    &-item{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 35px;

        &--active{
            background-color: white;
        }
    }

    &-text{
        font-weight: 700;
        font-size: 22px;
    } 

    &-icon{
        height: 35px;
        width: 35px;
    }

    &-hr{
        width: calc(100% - 35px);
        border-color: var(--primary-blue);
        float: right;
    }

    &-secondaryText{
        font-size: 18px;
        font-weight: 300;
    }
}

.hamburger {
    margin-left: 15px;
    cursor: pointer;
}


@media only screen and (max-width: 950px) {
    .sidebar {
        display: none;
    }
    .mobile {
        display: '';
    }
}

@media only screen and (min-width: 950px) {
    .sidebar {
        display: '';
    }
    .mobile {
        display: none;
    }
}

